<div class="bg">
    <app-header></app-header>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="text-center" style="color: beige; font-size:150px; font-family: Bangers;">CONTACT US</div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    </div>
    
    <div class="view">
        <br/>
    
    <!--FORM-->
    <div class="container">
        <br/>
        <br/>
        <hr style=" width: 10%; margin-left: 45%; height: 3px; background-color: darkred;">
        <div class="text-center" style="font-family: 'Alex Brush'; color: darkred;font-size: 4vw; padding-bottom: 0%;">Get in Touch</div> 
    
        <form>
            <div class="form-row" >
                <div class="form group col-md-6">
                    <div class="form-group">
                        <label for="InputName"></label>
                        <input type="text" class="form-control" id="InputName" placeholder="Enter your name ">
                      </div>
                </div>
                <div class="form group col-md-6">
                    <div class="form-group">
                        <label for="InputEmail"></label>
                        <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email">
                      </div>
                   
                </div>
            </div>
    
           
            <div class="form-group">
                <label for="InputSubject"></label>
                <input type="text" class="form-control" id="InputSubject" placeholder="Enter your Subject" style="margin-top: 1%;">
              </div>
     
            <div class="form-group">
            <label for="InputMessage"></label>
            <textarea class="form-control" id="InputMessage" rows="6" placeholder="Enter your Message" style="margin-top: 1%;"></textarea>
          </div>
          
          <button type="submit" class="btn" style="color:ivory; font-family:'Marko One'; margin-top: 1%; background-color:rgba(0, 0, 0, 0.89)">Submit</button>
          </form>
    
    </div>
        <br/>
        <br/>
        <br/>
        <br/>
    <!-- Google maps-->
    
        <div class="container" style="margin-left: 14%;">
            <div class="row">
                <div class="col-md-4">
                    <iframe width="1100" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" src="https://maps.google.com/maps?width=979&amp;height=535&amp;hl=en&amp;q=203%20Fake%20St.%20Mountain%20View%20California+(California,%20USA)&amp;t=&amp;z=5&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe> <a href='https://www.symptoma.es/'>Symptoma.es</a> <script type='text/javascript' src='https://maps-generator.com/google-maps-authorization/script.js?id=56110b6f1d702b9451d5488ddd8040ce1e34f1c0'></script>
                </div>
            </div>
            
        </div>
    <br/>
    <br/>
    <br/>
      
    </div>
    <app-home></app-home>
