<router-outlet></router-outlet>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">

<link href='https://fonts.googleapis.com/css?family=Alex Brush' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Fira Sans' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Fjalla One' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Marko One' rel='stylesheet'>


<!-- Icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">