<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <div class="bg">
<app-header></app-header>
<br>
 <br>
 <br>
 <br>
 <div class="text-center bg-text" style="color: beige; top:20%; font-size:1.5vw">THE MOST<span style="color:darkred;"> INTERESTING </span>FOOD IN THE WORLD</div>
<div class="bg-text"><span style="color:darkred;">Discover</span> the flavours of<p>food here</p></div>
<br>
 <br>
 <br>
 <br>
 
 
</div>
<!--second-->
<div class="sec">
    <br/>
<br>
<hr style=" width: 10%; margin-left: 45%; height: 3px; background-color: darkred;">
<div class="text-center" style="font-family: 'Alex Brush'; color: darkred;font-size: 4vw; padding-bottom: 0%;">Our Services</div> 
 <br>
 <br>
<div class="container">
    <div class="row">
        <div class="column">  
            <i class="fa fa-beer"></i><br/>
            <div class="text" style="margin-left: 20%;">Drinks</div>
            <p style="font-size: 1vw;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae hic maiores. Velit nisi, reprehenderit, nobis officia.</p>
        </div>
        <div class="column">
            <i class="fa fa-birthday-cake"></i>
            <div class="text">Desserts</div>
            <p style="font-size: 1vw;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae hic maiores. Velit nisi, reprehenderit, nobis officia.</p>
        
        </div>
        <div class="column">
            <i class="fa fa-cutlery"></i>
            <div class="text">Fresh Salad</div>
            <p style="font-size: 1vw;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae hic maiores. Velit nisi, reprehenderit, nobis officia.</p>
        </div>
        <div class="column">
            <i class="fa fa-coffee"></i>
            <div class="text">Cup Coffees</div>
            <p style="font-size: 1vw;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae hic maiores. Velit nisi, reprehenderit, nobis officia.</p>
        </div>
    </div>
</div>
<br>
 <br/>
<br/>
</div>


<!--end-->
<iframe id="ytplayer" type="text/html" width="100%" height="760px"
  src="https://www.youtube.com/embed/PZ4pctQMdg4?autoplay=1&loop=1&origin=https://youtu.be/PZ4pctQMdg4"
  frameborder="0">
</iframe>
<!--Third-->
<br/>
<br/>
<hr style=" width: 10%; margin-left: 45%; height: 3px; background-color: darkred;">
<div class="text-center" style="font-family: 'Alex Brush'; color: darkred;font-size: 4vw; padding-bottom: 0%;">Our Signature Dishes</div> 
<br/>
<br/>



<div class="container">
    <div class="row">
        <div class="col-sm-4" style="margin-left: 5%; " >
        
            <div class="card" style="width: 25rem; background-color: aliceblue">
                <img src="https://colorlib.com/preview/theme/foodfun/assets/images/food4.jpg" class="card-img-top">
                <div class="card-body">
                  <h4 class="card-title">Pepper Potatoes</h4>
                  <p class="card-text">Face together given moveth divided form Of Seasons that fruitful.</p>
                  <div>
                    <p style="float: left; color: darkred; font-size: 2vw; font-family: cursive;">$10</p>
                    <a href="#" class="btn" style=" float:right; color:darkred; font-size: 1.5vw; font-family: cursive;">Order Now</a>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-sm-4" style="margin-left: 13%; " >
            <div class="card" style="width: 25rem; background-color: aliceblue;">
                <img src="https://colorlib.com/preview/theme/foodfun/assets/images/food3.jpg" class="card-img-top">
                <div class="card-body">
                  <h4 class="card-title">Topu Lasange</h4>
                  <p class="card-text">Face together given moveth divided form Of Seasons that fruitful.</p>
                  <div>
                    <p style="float: left; color: darkred; font-size: 2vw; font-family: cursive;">$10</p>
                    <a href="#" class="btn" style=" float:right; color:darkred; font-size: 1.5vw; font-family: cursive;">Order Now</a>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
</div>

<!--end-->

<!--Fourth-->
<div class="view">
    <br/>
    <br/>
    <hr style=" width: 10%; margin-left: 45%; height: 3px; background-color: darkred;">
    <div class="text-center" style="font-family: 'Alex Brush'; color: darkred;font-size: 4vw; padding-bottom: 0%;">Reservations</div> 
    <p class="text-center"style="font-family:Fjalla One;font-size: 25px;padding-top:0%;">"Book a Table or Rooms for Private Dining"</p>
    <br/>
    <br/>
    <div class="container">
    <form>

        <div class="form-group">

            <label for="InputEventName"></label>
            <input type="text" class="form-control" id="InputEventName" placeholder="Event Name" style="margin-top: 1%;">
        
        </div>

        <div class="form-row" >

            <div class="form group col-md-6">
                <div class="form-group">
                    <label for="InputDate"></label>
                    <input type="date" class="form-control" id="InputDate" placeholder="Event Date">
                </div>
            </div>

            <div class="form group col-md-6">
                <div class="form-group">
                    <label for="InputTime"></label>
                    <input type="time" class="form-control" id="InputTime"  placeholder="Event Time">
                </div>
            </div>

        </div>

        <div class="form-row" >

            <div class="form group col-md-6">
                <div class="form-group">
                    <label for="InputGuests"></label>
                    <input type="number" class="form-control" id="InputGuests" placeholder="Number of Guests">
                </div>
            </div>

            <div class="form group col-md-6">
                <div class="form-group">
                    <label for="InputBudget"></label>
                    <input type="number" class="form-control" id="InputBudget"  placeholder="Budget">
                </div>
            </div>

        </div>

        <div class="form-group">

            <label for="InputName"></label>
            <input type="text" class="form-control" id="InputName" placeholder="Contact Name" style="margin-top: 1%;">
        
        </div>

        <div class="form-group">

            <label for="InputEmail"></label>
            <input type="email" class="form-control" id="InputEmail" placeholder="Email Address" style="margin-top: 1%;">
        
        </div>

        <div class="form-group">

            <label for="InputNumber"></label>
            <input type="tel" class="form-control" id="InputNumber" placeholder="Phone Number" style="margin-top: 1%;">
        
        </div>
    
 
            <div class="form-group">

                <label for="InputMessage"></label>
                <textarea class="form-control" id="InputMessage" rows="6" placeholder="Enter your Message" style="margin-top: 1%;"></textarea>
            
            </div>
      
      <button type="submit" class="btn" style="color:ivory; font-family: 'Marko One'; margin-top: 3%; background-color:rgba(0, 0, 0, 0.89)">Submit</button>
      </form>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</div>


<!--End-->

<!--Fifth-->

<!--end-->

<app-home></app-home>



