<!--USING IT AS THE FOOTER COMPONENT-->


<!--ICONS LINK
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">-->



<div class="bg">

    <br/>
    <br/>
        <div class="container">
            <div class="row">
                <div class="column">
    
                    <div class="text">ABOUT US</div><br/>
                    
                   <p style="color: silver; font-size: 1vw;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                   <br/>
                   
                   <div class="social-buttons">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    
                   </div>
                

                     
                  

                </div>
    
                <div class="column">
                    <div class="text">SERVICES</div><br/>
                    <ul class="list-unstyled">
                        <li><a href="#" >Cooked Food</a></li>
                        <li><a href="#">Deliver</a></li>
                        <li><a href="#">Quality Foods</a></li>
                        <li><a href="#">Mixed</a></li>
                        
                    </ul>
                
                </div>
    
                <div class="column">
                    <div class="text">HAVE A QUESTION?</div><br/>
                    <ul class="list-unstyled">
                        <li style="color: silver;"><span class="fa fa-map-marker" style="color: silver; font-size: 1vw;"></span>203 Fake St. Mountain View, San Francisco, California, USA</li>
                        <li><a href="#"><span class="fa fa-phone" style="color: silver;"></span>+2 392 3929 210</a></li>
                        <li><a href="#"><span class="fa fa-envelope" style="color: silver;"></span>info@gmail.com</a></li>
                  
                        
                    </ul>
    
    
                </div>
    
                <div class="column">
                    <div class="text">SUBSCRIBE NEWSLETTER</div><br/>

                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Email Address" style="font-size: 1vw;" ><br/>
                       <span class="input-group-btn">
                          <button class="btn" type="submit" style="color:black; background-color:grey;"><span class="fa fa-send" style="font-size: 1vw;"></span></button>
                       </span>
                    </div>
                 
                  <br/>
                  <p style="color: silver; font-size: 1vw;">Subscribe newsletter to get all updates about discount and offers.</p>
                </div>
            </div>
        </div>



        
        <br/>
        <br/>
    <p class="text-center" style="color: silver; font-size: 1vw;">Copyright &copy;2020 All rights reserved | This template is made by us.</p>
        <br/>
      
    
    
    
</div>    
